{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prefer-const": "error",
        "no-unused-vars": "off",
        "no-console": "off",
        "@typescript-eslint/no-unused-vars": "warn", // typescript에서 사용하지 않는 변수 error 처리
        "@typescript-eslint/no-explicit-any": "error" // typescript에서 any라도 type 붙이지 않으면 error 처리
    }
}
